body {
  font-family: 'Noto Serif SC', serif;
}
.home-main {
  min-height: 800px;
}
.home-title {
  margin-top: 50px;
  font-size: 50px;
}
.home-text {
  font-size: 35px;
  margin-top: 10px;
}
.navbar-start {
  text-align: right;
}
.hero {

}
.hints {
  color: #999999;
}
.copyId {
  display: none;
}
.copied {
  text-align: center;
  font-size: 40px;
}
.copy {
  width: 1500px;
  padding: 100%;
}
.page-card-box {
  height: 300px;
  position: relative;
}
.book-index {
  min-height: 700px;
}
.register {
  min-height: 700px;
  margin-top: 40px;
}
.book-index-title {
  text-align: center;
  margin-top: 100px;
}
.book-subtitle {
  font-size: 20px;
}
.book-card-box {
  height: 300px;
}
.page-index-content {
  // height: 140px;
  overflow: scroll;
}
.card-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.delete-box {
  transition: background-color 1s;
}
.delete-box:hover {
  background-color: red;
  color: white;
}
.book-show {
  margin-top: 50px;
}
.image-box {
  height: 500px;
}
.book-show-title {
  text-align: center;
}
.main-story {
  // min-height: 700px
}
.story-text {
  font-size: 25px;
}
.page {
  min-height: 500px;
  margin-top: 100px;
}
.page-index {
  min-height: 600px;
}
.id-button {
  background-color: rgba(0,0,0,0.8);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 343px;
  margin: auto;
}
.id-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.choice-text-box {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
.choice-text {
  font-size: 25px;
  cursor: alias;
}
.button-box {
  margin: 20px 0 50px 0;
}
.page-new {

}
.new-page-textarea {

}
.test {
  display: none;
}
.blurb-input {
  margin-bottom: 200px;
}
.book-box {
  min-height: 0px;
}
@media (max-width: 500px) {
  body {
    margin: 10px;
  }
  .story-text {
    margin: 10px;
    font-size: 20px;
  }
  .choice-text {
    font-size: 20px;
  }
  .home-title {
    margin-top: 50px;
    font-size: 30px;
  }
  .home-text {
    font-size: 20px;
  }
  .home-main {
    min-height: 500px;
  }
  .register {
    min-height: 400px;
  }
  .book-index {
    min-height: 300px;
  }
  .book-index-title {
    margin-top: 40px;
  }
  .id-button {
    width: 100%;
    margin: auto;
  }
}
