body {
  font-family: 'Noto Serif SC', serif;
}
.navbar-start {
  text-align: right;
}
.hero {
  background-color: papayawhip;
}
.copyId {
  display: none;
}
.copied {
  text-align: center;
  font-size: 40px;
}
.page-card-box {
  height: 300px;
  position: relative;
}
.book-card-box {
  height: 300px;
}
.page-index-content {
  overflow: scroll;
}
.card-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.papayawhip {
  background-color: papayawhip;
}
.delete-box {
  transition: background-color 1s;
}
.delete-box:hover {
  background-color: red;
  color: white;
}
